@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-style: normal;
    list-style: none;
}

.blacknav {
    width: 100vw;
    height: 9vh;
    background-color: #383838;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.blacknav p {
    font-size: 1rem;
    color: white;
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.blacknav p i {
    font-size: 1.6rem;
    color: #e02b20;
}



.sticybox {
    width: 100vw;
    height: 20vh;
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sticybox marquee {
    width: 77%;
    height: 30%;
    align-content: center;
    color: red;

}

.sticybox marquee span {
    color: black;
    font-weight: 700;
}

.rednav {
    width: 100%;
    height: 75%;
    background-color: #ea212d;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo {
    width: 20%;
    height: 90%;
    align-content: center;
}

.links {
    width: 60%;
    height: 90%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
}

.links .p {
    transition: .3s;
    color: #fff;
    position: relative;
    align-content: center;
    height: 100%;
}

.links .p i {
    padding-left: 3px;
    font-size: x-small;
}

.links .p:hover {
    color: rgba(255, 255, 255, 0.678);
}

.links .dropdown {
    width: 270px;
    padding: 20px 0;
    position: absolute;
    justify-content: center;
    align-items: flex-start;
    padding-left: 20px;
    color: black;
    left: 0;
    top: 13vh;
    flex-direction: column;
    display: none;

    border-top: 4px black solid;
    background-color: #fff;
}

.links .dropdown li {
    transition: .7s;
    padding: 13px 0;
    padding-left: 30px;
    width: 94%;
}

.links .dropdown li:hover {
    opacity: 0.4;
    background-color: #dfdfdf4b;
}

.links .p:hover .dropdown {
    display: flex;
}






.links .srBox {
    width: 40%;
    height: 50%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 5px;
}

.links .srBox i {
    font-size: 1.4rem;
    color: #38383867;
}

.links input {
    height: 90%;
    width: 80%;
    border: none;
    outline: none;
    font-family: monospace;
    font-style: italic;
    font-size: 1rem;
}

.links input::placeholder {
    color: rgba(0, 0, 0, 0.226);
}



.board {
    background-image: url(../img/bgtop.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100vw;
    height: 60vh;
    background-color: hsla(180, 100%, 50%, 0.37);
}

.dim {
    background-color: #845c5928;
    height: 100%;
    width: 100%;
    align-content: center;
    justify-items: center;
}

.diminfo {
    height: 70%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.diminfo .info {
    height: 70%;
    width: 100%;
    background-color: #6e040485;
    align-content: center;
    text-align: center;
}

.diminfo .info p {
    font-size: 2rem;
    color: white;
}

.diminfo button {
    transition: .2s;
    padding: 14px 13px;
    background-color: #fc0000;
    border: none;
    border-radius: 7px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.diminfo button p {
    transition: .2s;
    font-size: 1.2rem;
    margin-left: 5px;
     font-family: "Raleway", sans-serif;
}

.diminfo button i {
    transition: .2s;
    font-size: 1rem;
    margin-left: -20px;
    opacity: 0;
}

.diminfo button:hover {
    padding: 14px 14px;
}

.diminfo button:hover i {
    margin-left: 0;
    opacity: 1;
}

.diminfo button:hover p {
    margin-left: 0;
}


/* % 5 6 u U */



/* r      g     b     a
255    255   255   1
0      0      0     0

       r      g      b    a
   
w rgba(255,   255,   255,  1)
b rgba(0,     0,     0,   1)
r rgba(255,   0,     0,   1)
g rgba(0,    255,   0,   1)  
b rgba(0,     0,    255, 1) 
t rgba(0,     0,     0,    0) */