@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-style: normal;
    list-style: none;
}

.blacknav {
    width: 100vw;
    height: 9vh;
    background-color: #383838;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.blacknav p {
    font-size: 1rem;
    color: white;
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.blacknav p i {
    font-size: 1.6rem;
    color: #e02b20;
}



.sticybox {
    width: 100vw;
    height: 20vh;
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sticybox marquee {
    width: 77%;
    height: 30%;
    align-content: center;
    color: red;

}

.sticybox marquee span {
    color: black;
    font-weight: 700;
}

.rednav {
    width: 100%;
    height: 75%;
    background-color: #ea212d;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo {
    width: 20%;
    height: 90%;
    align-content: center;
}

.links {
    width: 60%;
    height: 90%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
}

.links .p {
    transition: .3s;
    color: #fff;
    position: relative;
    align-content: center;
    height: 100%;
}

.links .p i {
    padding-left: 3px;
    font-size: x-small;
}

.links .p:hover {
    color: rgba(255, 255, 255, 0.678);
}

.links .dropdown {
    width: 270px;
    padding: 20px 0;
    position: absolute;
    justify-content: center;
    align-items: flex-start;
    padding-left: 20px;
    color: black;
    left: 0;
    top: 13vh;
    flex-direction: column;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.488);
    display: none;

    border-top: 4px black solid;
    background-color: #fff;
}

.links .dropdown li {
    transition: .3s;
    padding: 13px 0;
    padding-left: 30px;
    width: 94%;
}

.links .dropdown li:hover {
    opacity: 0.7;
    background-color: #dfdfdf4b;
}

.links .p:hover .dropdown {
    display: flex;
}






.links .srBox {
    width: 40%;
    height: 50%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius:5px;
}

.links .srBox i{
    font-size: 1.4rem;
    color: #38383867;
}

.links input{
    height: 90%;
    width:80%;
    border: none;
    outline:none ;
    font-family: monospace;
    font-style: italic;
    font-size: 1rem;
}
.links input::placeholder{
    color: rgba(0, 0, 0, 0.226);
}

/* % 5 6 u U */